@import "tailwindcss";

:root {
  --bg: #ffffff;
  --fg: #171717;
}

@theme inline {
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #0a0a0a;
    --fg: #ededed;
  }
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
  @apply hover:text-fg/60 hover:cursor-pointer px-2 py-1;
}

.container-1600 {
  margin-inline: auto;
  width: min(90%, 1600px);
}
