@import "tailwindcss";

:root {
  --custom-white: #ffffff;
  --custom-black: #171717;

  --white-fg: #ededed;
  --black-fg: #171717;

  --bg: #ffffff;
  --fg: #171717;
}

@theme inline {
  --color-custom-white: var(--custom-white);
  --color-custom-black: var(--custom-black);
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-white-fg: var(--white-fg);
  --color-black-fg: var(--black-fg);

  --font-raleway: var(--font-raleway);
  --font-poppins: var(--font-poppins);
  --font-dm-sans: var(--font-dm-sans);
  --font-montserrat-alternates: var(--font-montserrat-alternates);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #010101;
    --fg: #ededed;
  }
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li {
  @apply hover:text-fg/60 hover:cursor-pointer px-2 py-1;
}

.a {
  @apply font-raleway font-light text-xs md:text-sm uppercase;
}

/* Intro section */
.intro-badge {
  @apply lg:bg-bg lg:border-2 lg:border-fg lg:rounded-full lg:px-12 lg:py-2.5;
}

.intro-badge > p {
  @apply text-fg text-sm max-[380px]:text-xs md:text-base;
}

.container-1600 {
  margin-inline: auto;
  width: min(94%, 1600px);
}

.td-text {
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

@media (max-width: 1025px) {
  .td-text {
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 5px 1px #919191,
      1px 10px 4px rgba(16, 16, 16, 0.3), 1px 15px 20px rgba(16, 16, 16, 0.2);
  }
}

.an-lo::before {
  content: "";
  background-color: var(--fg);

  height: 1px;
  flex-grow: 1;
}

.an-lo::after {
  content: "";
  background-color: var(--fg);

  height: 1px;
  display: none;
  flex-grow: 1;
}

@media (width < 64rem) {
  .an-lo::after {
    margin-left: 16px;
    display: block;
  }
}
