@import "tailwindcss";

:root {
  --custom-white: #ffffff;
  --custom-black: #171717;

  --white-fg: #ededed;
  --black-fg: #171717;

  --bg: #ffffff;
  --fg: #171717;

  --accent-1: #cbb799;
  --accent-1-hover: #b6a48b;
  --accent-2: #3c3530;
  --accent-2-hover: #2e2925;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}

@theme inline {
  --color-custom-white: var(--custom-white);
  --color-custom-black: var(--custom-black);
  --color-bg: var(--bg);
  --color-fg: var(--fg);

  --color-accent-1: var(--accent-1);
  --color-accent-1-hover: var(--accent-1-hover);
  --color-accent-2: var(--accent-2);
  --color-accent-2-hover: var(--accent-2-hover);

  --color-white-fg: var(--white-fg);
  --color-black-fg: var(--black-fg);

  --font-raleway: var(--font-raleway);
  --font-poppins: var(--font-poppins);
  --font-dm-sans: var(--font-dm-sans);
  --font-montserrat-alternates: var(--font-montserrat-alternates);
  --font-dream-avenue: var(--font-dream-avenue);
  --font-kanit: var(--font-kanit);
  --font-fira-code: var(--font-fira-code);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #010101;
    --fg: #ededed;
  }
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  @apply py-8 lg:py-12;
}

section h1 {
  @apply font-dream-avenue font-[500] text-6xl lg:text-8xl;
}

.nav__item {
  @apply hover:text-accent-1 hover:cursor-pointer px-2 py-1;
}

.section-title {
  @apply font-dream-avenue font-[500] text-6xl lg:text-8xl;
}

.section-title__mb {
  @apply mb-4;
}

.a {
  @apply font-raleway font-light text-xs md:text-sm uppercase;
}

/* Forms */
.form {
  @apply absolute inset-0 [backface-visibility:hidden] transition-opacity duration-700 w-full h-full p-6;
}
.form__title {
  @apply font-dream-avenue font-[400] text-white-fg text-center dark:text-white-fg text-2xl uppercase mb-3;
}
.form__label {
  @apply font-poppins font-[300] text-base capitalize leading-none mb-2 block;
}
.form__input {
  @apply bg-white/20 font-poppins text-white-fg dark:text-fg text-base placeholder:text-white-fg/40 dark:placeholder:text-white-fg/40 dark:caret-fg outline-none border-2 border-transparent focus:border-white/40 rounded-md backdrop-blur-2xl w-full px-2 py-1;
}
.form__submit-btn__p {
  @apply font-dm-sans font-[500] text-accent-2;
}

.perspective-1000 {
  perspective: 1000px;
}

/* Intro section */
.intro-badge {
  @apply lg:bg-bg lg:border-2 lg:border-fg lg:rounded-full lg:px-12 lg:py-2.5;
}
.intro-badge > p {
  @apply font-raleway text-sm max-[380px]:text-xs md:text-base;
}

.an-lo::before {
  content: "";
  background-color: var(--color-accent-1);

  height: 1px;
  flex-grow: 1;
}

.an-lo::after {
  content: "";
  background-color: var(--color-accent-1);

  height: 1px;
  display: none;
  flex-grow: 1;
}

@media (width < 64rem) {
  .an-lo::before {
    height: 2px;
  }

  .an-lo::after {
    margin-left: 16px;
    display: block;
    height: 2px;
  }
}

.tool span {
  transition: transform 0.3s, opacity 0.3s;
  transform: translateX(-50%) translateY(18px) scale(0.8);
  opacity: 0;
}

.get-in-touch__banners {
  width: max-content;
}

.get-in-touch__btn {
  @apply border-2 border-fg/60 text-center rounded-full w-full p-2;
}

@media (hover: hover) {
  .tool:hover span {
    opacity: 1;
    transform: translateX(-50%) translateY(0) scale(1);
  }

  .accent-btn:hover::before {
    width: 100%;
  }
}

.accent-btn {
  background-color: var(--accent-1);
  color: white;
  position: relative;
}

.accent-btn span {
  position: relative;
  z-index: 2;
}

.accent-btn::before {
  content: "";
  background-color: var(--accent-1-hover);
  inset: 0;
  transition: width 0.3s ease;

  width: 0%;
  height: 100%;

  position: absolute;
  z-index: 1;
}

/* Helper Classes */
.text-shine {
  color: #afabab;
  background: linear-gradient(
    to right,
    var(--color-accent-1) 0,
    #fff 10%,
    var(--color-accent-1) 20%
  );
  background-position: 0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s infinite linear;
  animation-fill-mode: forwards;
  -webkit-text-size-adjust: none;
  font-weight: 600;
  font-size: 2.9rem;
  text-decoration: none;
  white-space: nowrap;
  font-family: var(--font-dream-avenue);
}

.td-text {
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

@media (max-width: 1025px) {
  .td-text {
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 5px 1px #919191,
      1px 10px 4px rgba(16, 16, 16, 0.3), 1px 15px 20px rgba(16, 16, 16, 0.2);
  }
}

.vt {
  transform: scaleX(-1) scaleY(-1);
  writing-mode: vertical-lr;
  -webkit-writing-mode: vertical-lr;
  -ms-writing-mode: tb-lr;
}

.container-1600 {
  margin-inline: auto;
  width: min(94%, 1600px);
}

.container-1000 {
  margin-inline: auto;
  width: min(94%, 1000px);
}

img,
svg,
video {
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
}

/* Animations */
@-moz-keyframes shine {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-webkit-keyframes shine {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@-o-keyframes shine {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
@keyframes shine {
  0% {
    background-position: 0;
  }
  60% {
    background-position: 180px;
  }
  100% {
    background-position: 180px;
  }
}
