@import "tailwindcss";

:root {
  --custom-white: #ffffff;
  --custom-black: #171717;

  --white-fg: #ededed;
  --black-fg: #171717;

  --bg: #ffffff;
  --fg: #171717;
}

@theme inline {
  --color-custom-white: var(--custom-white);
  --color-custom-black: var(--custom-black);
  --color-bg: var(--bg);
  --color-fg: var(--fg);
  --color-white-fg: var(--white-fg);
  --color-black-fg: var(--black-fg);

  --font-raleway: var(--font-raleway);
  --font-poppins: var(--font-poppins);
  --font-dm-sans: var(--font-dm-sans);
  --font-montserrat-alternates: var(--font-montserrat-alternates);
  --font-dream-avenue: var(--font-dream-avenue);
  --font-kanit: var(--font-kanit);
  --font-fira-code: var(--font-fira-code);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #010101;
    --fg: #ededed;
  }
}

body {
  background: var(--bg);
  color: var(--fg);
  font-family: Arial, Helvetica, sans-serif;
}

section {
  @apply py-6 lg:py-12;
}

section h1 {
  @apply font-dream-avenue font-[500] text-6xl lg:text-8xl;
}

nav ul li {
  @apply hover:text-fg/60 hover:cursor-pointer px-2 py-1;
}

.section-title {
  @apply font-dream-avenue font-[500] text-6xl lg:text-8xl;
}

.a {
  @apply font-raleway font-light text-xs md:text-sm uppercase;
}

.vt {
  writing-mode: sideways-lr;
}

.container-1600 {
  margin-inline: auto;
  width: min(94%, 1600px);
}

/* Intro section */
.intro-badge {
  @apply lg:bg-bg lg:border-2 lg:border-fg lg:rounded-full lg:px-12 lg:py-2.5;
}

.intro-badge > p {
  @apply font-raleway text-fg text-sm max-[380px]:text-xs md:text-base;
}

.td-text {
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 10px 1px #919191, 1px 18px 6px rgba(16, 16, 16, 0.4),
    1px 22px 10px rgba(16, 16, 16, 0.2), 1px 25px 35px rgba(16, 16, 16, 0.2),
    1px 30px 60px rgba(16, 16, 16, 0.4);
}

@media (max-width: 1025px) {
  .td-text {
    text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
      1px 4px 1px #919191, 1px 5px 1px #919191,
      1px 10px 4px rgba(16, 16, 16, 0.3), 1px 15px 20px rgba(16, 16, 16, 0.2);
  }
}

.an-lo::before {
  content: "";
  background-color: var(--fg);

  height: 1px;
  flex-grow: 1;
}

.an-lo::after {
  content: "";
  background-color: var(--fg);

  height: 1px;
  display: none;
  flex-grow: 1;
}

@media (width < 64rem) {
  .an-lo::after {
    margin-left: 16px;
    display: block;
  }
}

/* Skills Section */
.tool {
  width: fit-content;
  position: relative;
}

.tool span {
  background-color: #171717;
  color: white;
  font-size: 0.8rem;
  border-radius: 2px;
  white-space: nowrap;
  transition: transform 0.3s, opacity 0.3s;
  transform: translateX(-50%) translateY(18px) scale(0.8);
  opacity: 0;
  pointer-events: none;

  padding: 0.125rem 0.375rem;

  position: absolute;
  top: -2rem;
  left: 50%;
  z-index: 10;
}

.tool:hover span {
  opacity: 1;
  transform: translateX(-50%) translateY(0) scale(1);
}
